---
import type { Student } from "@lib/types/student";
import { Icon } from "astro-icon/components";

interface Props {
  student: Student;
}

const { student } = Astro.props;
---

<tr class="hover:bg-white/50 transition-colors group">
  <td class="px-6 py-4 text-sm text-gray-600 font-medium hidden md:table-cell">
    {student.dni}
  </td>
  <td class="px-6 py-4 ">
    <div class="flex items-center">
      <div
        class="w-10 h-10 rounded-xl bg-rayito-blue/10 flex items-center justify-center text-rayito-blue font-bold mr-3 group-hover:bg-rayito-blue group-hover:text-white transition-colors"
      >
        {student.names[0]}
      </div>
      <div>
        <p class="font-bold text-gray-800">
          {student.names}
          {student.surnames}
        </p>
        <p class="text-xs text-gray-500">
          ID: {student.documentId}
        </p>
      </div>
    </div>
  </td>
  <td class="px-6 py-4 text-sm text-gray-600 hidden md:table-cell">
    {student.student_status}
  </td>
  <td class="px-6 py-4 text-sm text-gray-600 hidden md:table-cell">
    {new Date(student.birthday).toLocaleDateString()}
  </td>
  <td class="px-6 py-4 hidden md:table-cell">
    {student.profile ? (
      <div class="flex flex-col">
        <span class="text-sm font-medium text-gray-700">{student.profile.names} {student.profile.surnames}</span>
        <span class="text-[10px] text-gray-400 uppercase font-bold tracking-tight">Responsable</span>
      </div>
    ) : (
      <span class="text-xs text-gray-400 italic">No asignado</span>
    )}
  </td>
  <td class="px-6 py-4 text-right">
    <div class="flex items-center justify-end space-x-2">
      <a 
      href={`/dashboard/estudiantes/${student.documentId}`}
      class="flex items-center gap-2 px-3 py-1.5 rounded-lg bg-rayito-blue/10 group-hover:bg-rayito-blue group-hover:text-white transition-all cursor-pointer"
      >        
       <Icon name="mdi:dots-horizontal" class="w-5 h-5 text-gray-400 hover:text-rayito-blue transition-all" />
      </a>
    </div>
  </td>
</tr>
