---
import type { Student } from "@lib/types/student";
import { Icon } from "astro-icon/components";

interface Props {
  student: Student;
}

const { student } = Astro.props;
---

<tr class="group transition-colors hover:bg-white/50">
  <td class="hidden px-6 py-4 text-sm font-medium text-gray-600 md:table-cell">
    {student.dni}
  </td>
  <td class="px-6 py-4">
    <div class="flex items-center">
      <div
        class="bg-rayito-blue/10 text-rayito-blue group-hover:bg-rayito-blue mr-3 flex h-10 w-10 items-center justify-center rounded-xl font-bold transition-colors group-hover:text-white"
      >
        {student.names[0]}
      </div>
      <div>
        <p class="font-bold text-gray-800">
          {student.names}
          {student.surnames}
        </p>
        <p class="text-xs text-gray-500">
          ID: {student.documentId}
        </p>
      </div>
    </div>
  </td>
  <td class="hidden px-6 py-4 text-sm text-gray-600 md:table-cell">
    {student.student_status}
  </td>
  <td class="hidden px-6 py-4 text-sm text-gray-600 md:table-cell">
    {new Date(student.birthday).toLocaleDateString()}
  </td>
  <td class="hidden px-6 py-4 md:table-cell">
    {
      student.profile ? (
        <div class="flex flex-col">
          <span class="text-sm font-medium text-gray-700">
            {student.profile.names} {student.profile.surnames}
          </span>
          <span class="text-[10px] font-bold tracking-tight text-gray-400 uppercase">
            Responsable
          </span>
        </div>
      ) : (
        <span class="text-xs text-gray-400 italic">No asignado</span>
      )
    }
  </td>
  <td class="px-6 py-4 text-right">
    <div class="flex items-center justify-end space-x-2">
      <a
        href={`/dashboard/estudiantes/${student.documentId}`}
        class="bg-rayito-blue/10 group-hover:bg-rayito-blue flex cursor-pointer items-center gap-2 rounded-lg px-3 py-1.5 transition-all group-hover:text-white"
      >
        <Icon
          name="mdi:dots-horizontal"
          class="hover:text-rayito-blue h-5 w-5 text-gray-400 transition-all"
        />
      </a>
    </div>
  </td>
</tr>
