---
import type { User } from "@lib/types/user";
import { Icon } from "astro-icon/components";

interface Props {
  tutor: User;
}

const { tutor } = Astro.props;

const tutorDetailUrl = `/dashboard/tutores/${tutor.profile?.documentId}`;
---

<tr class="group transition-colors hover:bg-white/50">
  <td class="hidden px-6 py-4 text-sm font-medium text-gray-700 md:table-cell">
    {tutor.profile?.dni}
  </td>
  <td class="px-6 py-4">
    <div class="flex items-center gap-3">
      <div
        class="bg-rayito-blue/10 text-rayito-blue group-hover:bg-rayito-blue flex h-10 w-10 items-center justify-center rounded-xl text-sm font-bold transition-colors group-hover:text-white"
      >
        {tutor.profile?.names?.charAt(0) || "T"}
      </div>
      <div>
        <p class="font-semibold text-gray-900">
          {tutor.profile?.names}
          {tutor.profile?.surnames}
        </p>
        <p class="text-xs text-gray-400">@{tutor.username}</p>
      </div>
    </div>
  </td>

  <td class="hidden px-6 py-4 text-sm text-gray-700 md:table-cell">
    {tutor.profile?.cell_phone}
  </td>
  <td class="hidden px-6 py-4 text-sm text-gray-600 md:table-cell">
    {tutor.email}
  </td>
  <td class="hidden px-6 py-4 md:table-cell">
    <div class="flex flex-wrap gap-1">
      {
        tutor.profile?.students && tutor.profile.students.length > 0 ? (
          tutor.profile.students.map((student) => (
            <span class="bg-rayito-blue/5 text-rayito-blue border-rayito-blue/10 inline-flex items-center rounded border px-2 py-0.5 text-[10px] font-medium">
              {student.names}
            </span>
          ))
        ) : (
          <span class="text-[10px] text-gray-400 italic">Sin alumnos</span>
        )
      }
    </div>
  </td>
  <td class="px-6 py-4">
    <div class="flex items-center justify-end space-x-3">
      <button
        onclick={`window.dispatchEvent(new CustomEvent('open-create-student-from-tutor', { detail: { tutorId: '${tutor.profile?.documentId || ""}' } }))`}
        class="bg-rayito-blue/10 group-hover:bg-rayito-blue flex cursor-pointer items-center gap-2 rounded-lg px-3 py-1.5 transition-all group-hover:text-white"
      >
        <span
          class="text-rayito-blue text-xs font-medium group-hover:text-white"
          >Nuevo</span
        >
        <Icon
          name="mdi:account-student"
          class="text-rayito-blue h-5 w-5 transition-all group-hover:text-white"
        />
      </button>
      <a
        href={tutorDetailUrl}
        class="bg-rayito-blue/10 group-hover:bg-rayito-blue flex cursor-pointer items-center gap-2 rounded-lg px-3 py-1.5 transition-all group-hover:text-white"
      >
        <Icon
          name="mdi:dots-horizontal"
          class="hover:text-rayito-blue h-5 w-5 text-gray-400 transition-all"
        />
      </a>
    </div>
  </td>
</tr>
